.header {
	width: 100%;
	min-height: 1000px;
	background: url("../../img/background-header.png") no-repeat center center / cover;
	padding: 0px 10px;
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu {
	display: flex;
}
.menu_list {
	padding-left: 40px;
	list-style: none;
	padding-top: 20px;
}
.menu_item {
	position: relative;
	color: #fff;
	text-decoration: none;
}
.menu_item::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: -2px;
	left: 0;
	background-color: #fff;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform 0.5s ease-in-out;
}
.menu_item:hover::before {
	transform-origin: left;
	transform: scaleX(1);
}
.menu_item:hover {
	color: #fff;
	text-decoration: none;
}
.header_icon {
	width: 206px;
	height: 78px;
	margin-right: 200px;
}
.header_social {
	margin-top: 10px;
}
.header_social--link {
	margin-left: 20px;
	transition: all 0.3s;
}

.header_social--link:hover img {
	transform: scale(1.2);
	transition: all 0.3s;
}
.header_bottom {
	margin-top: 150px;
}
.header_title {
	text-align: center;
	color: #fff;
	font-size: 74px;
	line-height: 84px;
	font-weight: 700;
}
.header_text {
	padding-top: 20px;
	text-align: center;
	color: #fff;
	font-size: 28px;
	margin-bottom: 200px;
}
.header_btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	position: relative;
	left: 0;
	right: 0;
	transform: none;
}

.hamburger {
	position: relative;
	display: none;
	top: 40px;
	right: 20px;
	width: 36px;
	height: 20px;
	cursor: pointer;
	z-index: 1000;
}

.hamburger span,
.hamburger::before,
.hamburger::after {
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #2091f9;
	transition: all 0.3s ease;
}
.hamburger span {
	top: 50%;
	transform: translateY(-50%);
}
.hamburger::before {
	top: 0;
}
.hamburger::after {
	bottom: 0;
}

/* коли меню відкрито */
.hamburger.active span {
	transform: scale(0);
}
.hamburger.active::before {
	transform: rotate(45deg);
	top: 50%;
}
.hamburger.active::after {
	transform: rotate(-45deg);
	bottom: 50%;
}

@media (max-width: 1200px) {
	.price {
		padding-bottom: 50px;
	}
	.container {
		max-width: none;
		width: 100%;
	}
	.menu {
		margin-top: 15px;
		gap: 10px;
	}

	.header_icon {
		width: 200px;
	}

	.header_social {
		padding-top: 20px;
	}

	.header_title {
		display: flex;
		justify-content: center;
	}

	.header_text {
		display: flex;
		justify-content: center;
		font-size: 20px;
		text-align: center;
	}
}
@media (max-width: 1112px) {
	.header_social {
		display: flex;
		align-items: center;
		margin-right: 50px;
	}
	.menu {
		align-items: center;
	}
	.menu_list {
		padding-left: 10px;
	}
}

@media (max-width: 1024px) {
	[data-aos] {
		opacity: 1 !important;
		transform: none !important;
		transition: none !important;
	}
	.flex {
		justify-content: space-around;
	}
	.container {
		max-width: none;
		width: 100%;
	}
	.hamburger {
		display: block;
		position: absolute;
		top: 40px;
		right: 20px;

		transition: left 0.3s ease;
	}

	.header_social {
		display: flex;
		flex: 1;
		align-items: center;
	}
	.menu_nav {
		position: fixed;
		top: 0;
		left: -100%;
		width: 85%;
		height: 100vh;
		background: rgba(0, 0, 0, 0.9);
		transition: left 0.3s ease;
		z-index: 100;
	}
	.menu_nav.active {
		left: 0;
		transition: left 0.1s ease;
	}
	.menu {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-top: 50px;
		font-size: 30px;
	}
	.menu_list {
		margin-left: 5px;
		margin-top: 15px;
	}
	.header_title {
		font-size: 60px;
	}

	.header_text {
		font-size: 20px;
	}
}

@media (max-width: 768px) {
	.flex {
		justify-content: space-around;
	}
	.hamburger {
		top: 40px;
		right: 20px;
	}
	.flex {
		max-width: 768px;
	}
	.container {
		max-width: none;
		width: 100%;
	}

	.menu_list {
		margin-top: 10px;
		padding: 0 0 0 20px;
	}
	.header_icon--link {
		margin-right: 200px;
	}

	.header_social {
		display: flex;
		flex: 1;
		align-items: center;
	}

	.header_title {
		display: flex;
		justify-content: center;
		font-size: 45px;
		line-height: 56px;
	}

	.header_text {
		display: flex;
		justify-content: center;
		font-size: 20px;
		text-align: center;
	}

	.header_bottom {
		width: 100%;
	}
	.header_social {
		position: fixed;
		top: 65%;
		left: -100%;
		z-index: 110;
	}
	.header_social.active {
		top: 65%;
		left: 35%;
		transition: left 0.1s ease;
	}
}

@media (max-width: 425px) {
	.header {
		min-height: 750px;
	}
	.header_social {
		position: fixed;
		top: 65%;
		left: -100%;
		z-index: 110;
	}
	.header_social.active {
		top: 65%;
		left: 30%;
		transition: left 0.1s ease;
	}
	.hamburger {
		top: 40px;
		right: 20px;
	}

	.header_title {
		display: flex;
		justify-content: center;
		font-size: 36px;
		line-height: 40px;
	}

	.header_text {
		display: flex;
		justify-content: center;
		font-size: 16px;
		text-align: center;
	}
	.header_icon--link img {
		height: auto;
		margin: 0;
		display: block;
	}
	.header_social.active {
		left: 20%;
	}
	.menu {
		margin-right: 50px;
	}
}

@media (max-width: 377px) {
	.hamburger {
		top: 40px;
		right: 20px;
		z-index: 1000;
	}
	.header_icon--link img {
		height: auto;
		margin: 0;
		display: block;
	}
}

@media (max-width: 375px) {
	.hamburger {
		top: 40px;
		right: 20px;
		z-index: 1000;
	}

	.header_text {
		display: flex;
		justify-content: center;
		font-size: 14px;
		text-align: center;
	}
	.header_icon--link img {
		height: auto;
		margin: 0;
		display: block;
	}
	.header_social.active {
		left: 15%;
	}
	.menu {
		margin-right: 50px;
	}
}

@media (max-width: 322px) {
	.header_icon--link img {
		height: auto;
		margin: 0;
		display: block;
	}
}

@media (max-width: 320px) {
	.header_icon--link img {
		height: auto;
		margin: 0;
		display: block;
	}
	.hamburger {
		top: 40px;
		right: 20px;
		z-index: 1000;
	}
	.header_social.active {
		left: 15%;
	}
	.menu {
		margin-right: 50px;
	}

	.header_text {
		display: flex;
		justify-content: center;
		font-size: 12px;
		text-align: center;
	}
	.header_title {
		font-size: 26px;
	}
}
